{% extends 'app/found.html' %}

{% block content %}
<form action="{% url 'found_additem' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="form-row">


        <div class="left-column">

            <div class="form-container item-container">
                <div class="form-group">
                    <label for="{{ form.item_name.id_for_label }}">Item Name:</label>
                    {{ form.item_name }}
                </div>
                <div class="form-group">
                    <label for="{{ form.description.id_for_label }}">Description:</label>
                    {{ form.description }}
                </div>
                <div class="form-group">
                    <label for="{{ form.category.id_for_label }}">Category:</label>
                    {{ form.category }}
                </div>
                <div class="form-group">
                    <label for="{{ form.photo.id_for_label }}">Photo (optional):</label>
                    {{ form.photo }}
                    </label>
                </div>

            </div>

            <div class="form-container date-location-container">
                <div class="form-group">
                    <label for="{{ form.date_found.id_for_label }}">Date Found:</label>
                    {{ form.date_found }}
                </div>
                <div class="form-group">
                    <label for="{{ form.location_found.id_for_label }}">Location Found:</label>
                    {{ form.location_found }}
                </div>
            </div>
        </div>


        <div class="right-column">
            <div class="form-container contact-container">
                <div class="form-group">
                    <label for="{{ form.found_by.id_for_label }}">Found By:</label>
                    {{ form.found_by }}
                </div>
                <div class="form-group">
                    <label for="{{ form.contact_information.id_for_label }}">Contact Number:</label>
                    {{ form.contact_information }}
                </div>
                <div class="form-group">
                    <label for="{{ form.school.id_for_label }}">School:</label>
                    {{ form.school }}
                </div>
                <button type="submit" class="save-button" value="Save">Submit</button>
            </div>


            <div class="form-container preview-container">
                <div class="preview-box">
                    <p id="preview-text">Preview Image</p>
                    <img id="photo-preview" src="#" alt="Image Preview" style="display:none;">
                </div>
            </div>
        </div>
    </div>

</form>

{% endblock content %}