<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">
  <title> EduFinder</title>
  <link rel="stylesheet" href="{% static 'css/lost.css' %}">
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
  <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <div class="sidebar">
    <div class="logo-details">
      <div class="logo_name">EduFinders</div>
      <i class='bx bx-menu' id="btn"></i>
    </div>
    <ul class="nav-list">
      <li>
        <a href="{% url 'administrator' %}">
          <i class='bx bx-arrow-back' id="go_back"></i>

          <span class="links_name">Go Back</span>
        </a>
        <span class="tooltip">Go Back</span>
      </li>
      <li>
        <a href="{% url 'lost_dashboard' %}">
          <i class='bx bx-grid-alt'></i>
          <span class="links_name">Dashboard</span>
        </a>
        <span class="tooltip">Dashboard</span>
      </li>
      <li>
        <a href="{% url 'lost_additem' %}">
          <i class='bx bx-plus'></i>
          <span class="links_name">Add Items</span>
        </a>
        <span class="tooltip">Add Items</span>
      </li>
      <li>
        <a href="{% url 'lost_viewitem' %}">
          <i class='bx bx-detail'></i>
          <span class="links_name">View Items</span>
        </a>
        <span class="tooltip">View Items</span>
      </li>
      <li>
        <a href="{% url 'lost_listview' %}">
          <i class='bx bx-list-check'></i>
          <span class="links_name">Manage Items</span>
        </a>
        <span class="tooltip">Manage Items</span>
      </li>
      <li>
        <a href="">
          <i class='bx bx-buildings'></i>
          <span class="links_name">School</span>
        </a>
        <span class="tooltip">School</span>
      </li>

      <li>
        <a href="#">
          <i class='bx bx-cog'></i>
          <span class="links_name">Setting</span>
        </a>
        <span class="tooltip">Setting</span>
      </li>
      <li class="profile">
        <div class="profile-details">
          <div class="name_job">
            <div class="name">Bryan Cabrera</div>
            <div class="job">BSIT 3-4</div>
          </div>
        </div>
        <i class='bx bx-user' id="log_out"></i>
        </a>
      </li>
    </ul>
  </div>
  <section class="home-section">
    {% block content %}

    {% endblock content %}


  </section>

  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
  <script src="{% static 'js/lost.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</body>

</html>